@charset "UTF-8";
/**
 * @description: 项目公用样式
 * @author: qianwenyu (16/03/08)
 * @update:
*/
/**
 * @description: 项目变量定义
 * @author: maping (16/06/20)
 * @update:
 */
/**
 * @description: 项目重置
 * @author: qianwenyu (16/03/08)
 * @update:
 */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-size: 625%;
  height: 100%; }

body {
  margin: 0;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
  line-height: 1.5;
  color: #333333;
  background-color: #eaeaea;
  min-height: 100%;
  padding-bottom: 20px; }

details,
summary {
  display: block; }

progress {
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

a {
  color: #333333; }
  a:active {
    outline: 0; }

b,
strong {
  font-weight: normal; }

i,
em {
  font-style: normal; }

small {
  font-size: 80%; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  vertical-align: middle; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: border-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top; }

input,
select,
textarea {
  outline: 0; }

textarea,
input {
  -webkit-user-modify: read-write-plaintext-only; }

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #999; }

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999; }

.placeholder {
  color: #999; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0; }

ul, ol, li, dl, dd {
  margin: 0;
  padding: 0; }

ul, ol {
  list-style: none outside none; }

h1, h2, h3, h4, h5, h6 {
  line-height: 2;
  font-weight: normal; }

* {
  box-sizing: border-box; }

/**
 * @description: clear
 * @author: qianwenyu (16/03/08)
 * @update:
 */
.clear:before, .clear:after {
  content: "";
  display: table; }

.clear:after {
  clear: both; }

@font-face {
  font-family: "iconfont";
  src: url("iconfont.eot?t=1466473618");
  /* IE9*/
  src: url("iconfont.eot?t=1466473618#iefix") format("embedded-opentype"), url("iconfont.woff?t=1466473618") format("woff"), url("iconfont.ttf?t=1466473618") format("truetype"), url("iconfont.svg?t=1466473618#iconfont") format("svg");
  /* iOS 4.1- */ }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.icon-xiangyou:before {
  content: "\e600"; }

.icon-iconfonticonfontclose:before {
  content: "\e601"; }

.icon-shanchu:before {
  content: "\e603"; }

/**
 * @description: 项目按钮定义
 * @author: maping (16/06/20)
 * @update:
 */
.mg-btn {
  min-width: 4.18667rem;
  height: 0.96rem;
  *line-height: 0.96rem;
  font-size: 0.37333rem;
  color: #fff;
  outline: none;
  border: 1px solid #58bd45;
  background-color: #58bd45;
  box-shadow: none;
  border-radius: 4px; }

.mg-btn.btn-info {
  background-color: #4491bd;
  border: 1px solid #4491bd; }

/**
 * @description: 弹出窗口样式
 * @author: qianwenyu (16/03/09)
 * @update:
 */
.ui-loader {
  display: none; }

.overlay {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); }

.dialog {
  display: none;
  overflow: hidden;
  z-index: 101;
  position: fixed;
  top: 30%;
  left: 0.93333rem;
  width: 8.13333rem;
  height: auto;
  min-height: 4rem;
  background-color: #fff;
  border-radius: 8px; }
  .dialog .dialog__hd {
    height: 1.42667rem;
    font-size: 0.37333rem;
    line-height: 1.42667rem;
    font-size: 18px;
    color: #fff;
    text-align: center;
    background: #fb4c1f;
    width: 100%; }
    .dialog .dialog__hd .dialog__close {
      position: absolute;
      top: -3px;
      right: 0.26667rem;
      font-size: 20px; }
  .dialog .dialog__content {
    display: table;
    width: 100%;
    min-height: 100px;
    font-size: 14px;
    text-align: justify; }
    .dialog .dialog__content .desc {
      display: table-cell;
      vertical-align: middle;
      padding: 0 0.53333rem; }
  .dialog .dialog__ft {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid #eee;
    padding: 0.26667rem; }
    .dialog .dialog__ft .btn {
      float: right;
      margin-left: 15px;
      padding: 0.24rem 0.42667rem;
      line-height: 0.26667rem;
      font-size: 14px;
      color: #fff;
      background: #fb4c1f;
      border: 0;
      border-radius: 5px; }
    .dialog .dialog__ft .btn.ghost {
      float: left; }
  .dialog .dialog__ft.centerbtn {
    text-align: center; }
    .dialog .dialog__ft.centerbtn .btn {
      float: inherit;
      margin-left: 0; }

/**
 * @description: 公共元素
 * @author: maping (16/06/20)
 * @update:
 */
.mg-title {
  height: 0.4rem;
  line-height: 0.4rem;
  padding-left: 0.21333rem;
  border-left: 0.05333rem solid #58bd45;
  margin-bottom: 0.29333rem;
  font-size: 14px;
  color: #333333; }
